{
  "definition": {
    "openapi": "3.0.0",
    "info": {
      "title": "Smarthard's site API Documentation",
      "version": "v1",
      "contact": {
        "name": "Developer",
        "email": "th3smartchan@gmail.com"
      },
      "license": {
        "name": "BSD 2-Clause License"
      }
    },
    "host": "smarthard.net",
    "basePath": "/api",
    "produces": [
      "application/json"
    ],
    "schemes": [
      "https"
    ],
    "components": {
      "securitySchemes": {
        "BearerAuth": {
          "type": "http",
          "scheme": "bearer"
        },
        "OAuth2": {
          "type": "oauth2",
          "flows": {
            "authorizationCode": {
              "authorizationUrl": "https://smarthard.net/oauth/authorize",
              "tokenUrl": "https://smarthard.net/oauth/token",
              "scopes": {
                "admin": "Grants access to admin operations and extra info",
                "database": "Grants access to entire database",
                "database:articles": "Grants access to Articles scheme",
                "database:shikivideos": "Grants access to Shikivideos scheme",
                "database:shikivideos_create": "Grants write access to Shikivideos scheme",
                "default": "Grants default access rights (login, logout, information about itself)",
                "user": "Grants access to all user information",
                "user:modify": "Grants access to user information modification"
              }
            }
          }
        }
      },
      "schemas": {
        "UserCredentials": {
          "type": "object",
          "properties": {
            "login": {
              "type": "string",
              "example": "User"
            },
            "password": {
              "type": "string",
              "example": "passw0rd"
            }
          }
        },
        "User": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer"
            },
            "name": {
              "type": "string"
            },
            "login": {
              "type": "string"
            },
            "password": {
              "type": "string"
            },
            "email": {
              "type": "string",
              "format": "email"
            },
            "scopes": {
              "$ref": "#/components/schemas/OAuthScopes"
            },
            "createdAt": {
              "type": "string",
              "format": "date-time"
            }
          }
        },
        "UserWithoutPassword": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer"
            },
            "name": {
              "type": "string",
              "example": "username"
            },
            "login": {
              "type": "string",
              "example": "User"
            },
            "email": {
              "type": "string",
              "format": "email"
            },
            "scopes": {
              "$ref": "#/components/schemas/OAuthScopes"
            },
            "createdAt": {
              "type": "string",
              "format": "date-time"
            }
          }
        },
        "OAuthScopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "example": ["admin", "user"]
        }
      }
    }
  },
  "apis": [
    "./routes/*.js"
  ]
}
